a,
a:hover,
a:visited {
  color: inherit;
}

.App {
  align-items: center;
}

/* BlogPost.js */

.blog-post {
  display: flex;
}

.blog-post > ul {
  list-style: none;
  padding: 25px;
}

.blog-post-info {
  display: flex;
  justify-content: space-between;
}

.blog-post-info > p {
  font-size: 15px;
}

.blog-post-list > li {
  border: 1px solid #ccc;
  margin-bottom: 25px;
  width: 80%;
  padding: 15px;
}

.blog-post-list > li > p {
  font-size: 18px;
}

.blog-category {
  display: flex;
}

.blog-date {
  color: gray;
}

.category {
  border: 1px solid #06c;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: #06c;
}

/* Header.js */
.header-top {
  background-color: gray;
  color: white;
  display: flex;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  width: auto;
}

/* BlogDetail.js */
.blog-detail {
  margin: 40px auto;
  max-width: 800px;
}

.blog-detail-info {
  padding: 10px;
}
