a,a:hover,a:visited{
    color: inherit;
}

/* BlogPost.js */
.blog-post>ul{
    list-style: none;
    border: 1px solid #000;
    padding: 25px;
    margin: 30px;
}

.blog-post-info{
    display: flex;
    justify-content: space-between;
}

.blog-post-info>p{
    font-size: 15px;
}

.blog-post-list>li>a{
    font-size: 30px;
}

.blog-post-list>li>p{
    font-size: 18px;
}

/* Header.js */
.header-top{
    background-color: gray;
    color: white;
    display: flex;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    align-items: center; 
    justify-content: space-between;
    padding: 24px;
}
